{{- $tunnels := includeTemplate "config/expandTunnels.tmpl" . | fromYaml -}}
{{- $endpoints := includeTemplate "config/expandEndpoints.tmpl" . | fromYaml -}}
{{- $services := includeTemplate "config/expandServices.tmpl" . | fromYaml -}}

{{- range $serviceGroupName, $serviceGroup := $services -}}
  {{- range $serviceName, $service := $serviceGroup -}}

    {{- $pgServiceName := printf "%s_%s" $serviceGroupName $serviceName -}}
    {{- if eq $serviceGroupName "ungrouped" -}}
      {{- $pgServiceName = $serviceName -}}
    {{- end -}}

    {{- /* Look for duplicate service names across all groups */ -}}
    {{- if ($services | jq (printf "[.. | objects | select(.pgServiceName == \"%s\")] | length > 0" $pgServiceName) | first) -}}
      {{- fail (printf "Duplicate service: %s.%s" $serviceGroupName $serviceName) -}}
    {{- end -}}
    {{- $_ := set $service "pgServiceName" $pgServiceName -}}

    {{- $endpointGroupName := coalesce (dig "endpointRef" "group" "" $service) $serviceGroupName -}}
    {{- $endpointName := $service.endpointRef.name -}}
    {{- $endpoint := dig $endpointGroupName $endpointName "" $endpoints -}}
    {{- if not $endpoint -}}
      {{- fail (printf "endoint not found for service: %s/%s" $serviceGroupName $serviceName) -}}
    {{- end -}}

    {{- if get $endpoint "needTunnel" | default false  -}}
      {{- $tunnelGroupName := coalesce (dig "tunnelRef" "group" "" $endpoint) $endpointGroupName -}}
      {{- $tunnel := dig $tunnelGroupName $endpoint.tunnelRef.name "" $tunnels -}}
      {{- if not $tunnel -}}
        {{- fail (printf "tunnel not found for endpoint: %s/%s" $endpointGroupName $endpointName) -}}
      {{- end -}}
      {{- $_ := set $endpoint "address" $tunnel.address -}}
      {{- $_ := set $endpoint "port" $tunnel.port -}}
      {{- $_ = unset $endpoint "tunnelRef" -}}
      {{- $_ = unset $endpoint "needTunnel" -}}
    {{- end -}}
    
    {{- $_ := set $service "endpoint" $endpoint -}}
    {{- $_ = unset $service "endpointRef" -}}
  {{- end -}}
{{- end -}}

# ╔═══════════════════════════════════════════════╗
# ║  GENERATED BY CHEZMOI - DO NOT EDIT MANUALLY  ║
# ╚═══════════════════════════════════════════════╝

{{ range $name := get $services "ungrouped" | default dict | keys | sortAlpha -}}
{{- with get $services.ungrouped $name -}}
[{{ .pgServiceName }}]
host={{ .endpoint.address }}
port={{ .endpoint.port }}
{{ .properties | toIni | replace " = " "=" }}
{{ end -}}
{{ end -}}

{{- range $groupName := keys (omit $services "ungrouped") | sortAlpha -}}
{{- $group := get $services $groupName -}}

# ┌{{ repeat ((len $groupName | add 11) | int) "─" }}┐
# │  GROUP: {{ $groupName | upper }}  │
# └{{ repeat ((len $groupName | add 11) | int) "─" }}┘

{{ range $name := keys $group | sortAlpha -}}
{{- with get $group $name -}}
[{{ .pgServiceName }}]
host={{ .endpoint.address }}
port={{ .endpoint.port }}
{{ .properties | toIni | replace " = " "=" }}
{{ end -}}
{{- end -}}
{{- end -}}