# If not running interactively, don't do anything
[[ $- != *i* ]] && return

{{ $rcdir := joinPath .chezmoi.homeDir ".config" "rc.d" -}}
export RCDIR="${RCDIR:-{{ $rcdir }}}"

# Load common shell scripts from $RCDIR
if test -d "$RCDIR"; then
  for rcfile in "$RCDIR"/*.sh; do
    test -f "$rcfile" && test -r "$rcfile" && . "$rcfile"
  done
  unset rcfile
fi
