{{ template "managed_by_chezmoi.tmpl" }}

# Put custom configuration files here
# e.g. ~/.ssh/config.d/myconfig.conf
Include config.d/*

{{- $ssh := get . "ssh" | default dict | pruneEmptyDicts -}}

{{- range get $ssh "hosts" | default dict | keys | uniq | sortAlpha -}}
  {{- $host := get $ssh.hosts . -}}
  {{- if not $host -}}
    {{- continue -}}
  {{- end }}

Host {{ . }}
  {{- range keys $host | sortAlpha }}
  {{ . }} = {{ get $host . }} 
  {{- end -}}
{{- end -}}

{{- range get $ssh "groups" | default dict | keys | uniq | sortAlpha -}}
  {{- $groupName := . -}}
  {{- $group := get $ssh.groups $groupName -}}

  {{- if not (get $group "hosts") -}}
    {{- continue -}}
  {{- end }}

# ┌{{ repeat ((len $groupName | add 11) | int) "─" }}┐
# │  GROUP: {{ $groupName | upper }}  │
# └{{ repeat ((len $groupName | add 11) | int) "─" }}┘

  {{- range keys $group.hosts | sortAlpha -}}
    {{- $hostName := . -}}
    {{- $host := get $group.hosts $hostName }}

Host {{ $groupName -}}_{{ . }}
    {{- range keys $host | sortAlpha }}
  {{ . }} = {{ get $host . }} 
    {{- end -}}
  {{- end -}}

{{- if get $group "options" }}

Host {{ $groupName -}}_*
    {{- range keys $group.options | sortAlpha }}
  {{ . }} = {{ get $group.options . }} 
    {{- end }}

  {{- end -}}
{{- end -}}
