{{- $data := dict "type" "gateways" "collection" (get . "gateways" | default dict) -}}
{{- $items := includeTemplate "config/_expand.tmpl" $data | fromYaml -}}

{{- range $itemName, $item := $items -}}
  {{- $requiredFields := list "address" -}}
  {{- range $requiredFields -}}
    {{- if empty (get $item .) -}}
      {{- fail (printf "Gateway must have a '%s': %s" . $itemName) -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- $items | toYaml -}}